{% extends 'base.html' %}
{% import 'macros.html' as macro %}   

<!-- styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



<!-- Content block -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-5 boxess">
        
             <h4>Health News</h4> 
        </div>

        <div class="col-md-4 col-lg-2">
        </div>

        <div class="col-md-4 col-lg-5 boxess">
                    <h4>Business News</h4>
                    <h5> 
                <a href="/BusinessSources">url link to page</a>
        </h5>
        </div>
    </div>


    <div class="row">
            <div class="col-md-4 col-lg-3">
                         
            </div>
        
            <div class="col-md-4 col-lg-5 boxess">
            <h4>Sports News</h4> 
            </div>
            
            <div class="col-md-4 col-lg-4">
                                     
            </div>
    </div>




    <div class="row">
        <div class="col-md-4 col-lg-5 boxess">
            <h4>Entertainment News</h4>            
            </div>
        
            <div class="col-md-4 col-lg-2">
            </div>
        
            <div class="col-md-4 col-lg-5 boxess">
                <h4>General News</h4> 
            </div>
        </div>




        <div class="row">
            <div class="col-md-4 col-lg-3">
                                 
            </div>
                
            <div class="col-md-4 col-lg-5 boxess">
            <h4>Science News</h4> 
            </div>
                
            <div class="col-md-4 col-lg-4">
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-4 col-lg-5 boxess">
                        <h4>Technology News</h4> 
                        <h6>url link to page</h3>
                            <a href="/BusinessSources"></a>
            </div>
                    
            <div class="col-md-4 col-lg-2">
                        
            </div>
                
            <div class="col-md-4 col-lg-5 boxess">
            </div>
        </div>
        
        






</div>
 


    
{% endblock %}  