{% macro displaySourcesList(sources_list) %}

    {% for source in sources_list %}

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
          
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">{{source.name}}</a></li>
                  <li><a href="#">{{source.description}}</a></li>
                  <li><a href="{{source.url}}">{{source.url}}</a></li>
                  <li role="separator" class="divider"></li>        
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
                
            </div>
        </div>
    </div>
          

        
    {% endfor %}

{% endmacro %}

