<div class="container">
<div class="row">
        <div class="col-md-4 ">
        <h4></h4>
        </div>
        <div class="col-md-4 boxess">
                <h4>Health News</h4>
        </div>
        <div class="col-md-4 ">
                <h4></h4>
        </div>
</div>

<div class="row">
        <div class="col-md-6 col-lg-4 boxess">
        <h4>Health News</h4>
        </div>
        <div class="col-lg-3 col-md-0">

        </div>

        <div class="col-md-6 col-lg-5 boxess">
                <h4>Health News</h4>
        </div>
</div>


<div class="row">
        <div class="col-md-4 ">
        <h4></h4>
        </div>
        <div class="col-md-4 boxess">
                <h4>Health News</h4>
        </div>
        <div class="col-md-4 ">
                <h4></h4>
        </div>
</div>

<div class="row">
        <div class="col-md-6 col-lg-4 boxess">
        <h4>Health News</h4>
        </div>
        <div class="col-lg-3 col-md-0">

        </div>

        <div class="col-md-6 col-lg-5 boxess">
                <h4>Health News</h4>
        </div>
</div>


</div>



<!-- <div class="jumbotron you">

<h3> Health</h3>
<ul>
{% for healthsource in healthsource %}

{{healthsource.id}}
{{healthsource.name}}
{{healthsource.description}}
{{healthsource.country}}
   {{healthsource.url}}

{% endfor %}
</ul>

</div>
-->

<div class="row">
        <div class="col-lg-5">

        </div>

        <div class="col-lg-2">
                <h1>News-Highlight</h1>
        </div>

        <div class="col-lg-5">
                
        </div>
    </div>
          